@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
/*main-cont*/
.main-cont{position: relative; padding-bottom: 60.4rem; background-color: #0054D3;}
.main-cont .txt{padding: 8.7rem 0 5rem;}
.main-cont .btn-main{ display: inline-block;}
.main-cont .btn-main a{background-color: #000; border-radius: 0.8rem; padding: 1.7rem 3.2rem;display: block; font-size: 1.8rem; text-align: center; transition: all 0.4s;}
.main-cont .btn-main a:hover{color: #0054D3; background-color: #fff; transition: all 0.4s;}
.main-cont .bg-img{position: absolute; bottom: -21.4rem; right: 50%; transform: translateX(50%);}
/*intro-cont*/
.intro-cont{padding: 23.7rem 0 0;}
.intro-cont .txt {font-size: 2.4rem; padding: 0 0 11.4rem;}
.intro-cont .txt span{display: block; font-size: 2.4rem; padding: 4rem 0 2.8rem;}
.intro-cont .box-wrap ul{display: flex; flex-wrap: wrap; justify-content: space-between;}
.intro-cont .box-wrap ul li{display: flex; align-items: center; width: 59rem; height: 16.2rem; border-radius: 2rem; border: 1px solid #ccc;}
.intro-cont .box-wrap ul li:nth-child(2){margin-bottom: 20px;}
.intro-cont .box-wrap ul li .icon{position: relative; display: inline-block; width: 16.5rem; height: 100%;}
.intro-cont .box-wrap ul li .icon img{position: absolute; top: 50%; left: 3rem; transform: translateY(-50%);}
.intro-cont .box-wrap ul li .box-txt{display: inline-block; font-size: 2rem; color: #1a1a1a; line-height: 3.2rem; text-align: left; font-weight: 500;}
/*result-cont*/
.result-cont{padding: 20rem 0 18.6rem;}
.result-cont .txt{margin-bottom: 10rem;}
.result-cont .card-wrap ul{display: flex; flex-wrap: wrap; justify-content: space-between;}
.result-cont .card-wrap ul .card-inner{margin: 5.4rem 3.4rem;}
.result-cont .card-wrap .card{width: 58.9rem; height: 52.6rem; border-radius: 2rem; text-align: left;}
.result-cont .card-wrap .card1{width: 100%; margin-bottom: 2rem; background: #3a4149 url("../images/main_tablet2.png") no-repeat right;}
.result-cont .card-wrap .card2{background: #f6f6f6 url("../images/explan-icon1.png") no-repeat 29.2rem 23.8rem;}
.result-cont .card-wrap .card3{background: #f6f6f6 url("../images/explan-icon2.png") no-repeat 18.4rem 26.5rem;}
.result-cont .card-wrap .card p{font-size: 2.8rem; line-height: 4rem; margin-bottom: 1.6rem; font-weight: 600;}
.result-cont .card-wrap .card span{font-size: 1.8rem; line-height: 3rem; font-weight: 400;}
/*explan-cont*/
.explan-cont{padding: 23.2rem 0 18.8rem; background-color: #e9f6ff;}
.explan-cont .slide-wrap{display: flex; justify-content: space-between; margin-top: 11.5rem;}
.explan-cont .slide-wrap .list{text-align: left;}
.explan-cont .slide-wrap .list li{ width: 34.2rem; border-bottom: 1px solid #ccc; line-height: 12rem; transition: all 0.4s;}
.explan-cont .slide-wrap .list li p{line-height: 4rem; padding: 3.8rem 4rem; font-size: 2.8rem; font-weight: 600;}
.explan-cont .slide-wrap .list li span{display: none; font-size: 1.8rem; line-height: 3rem; color: #fff; padding: 0 0 4rem 4rem;}
.explan-cont .slide-wrap .list li.on{width: 39.2rem; background-color: #0054D3; border: none; border-radius: 2rem; transition: all 0.4s;}
.explan-cont .slide-wrap .list li.on p{color: #fff;}
.explan-cont .slide-wrap .list li.on span{display: block;}
.explan-cont .slide-wrap .box li{display: none; transition: all 0.4s;}
.explan-cont .slide-wrap .box li.on{display: block; transition: all 0.4s;}
/*review-cont*/
.review-cont{padding: 20.4rem 0 19.2rem;}
.review-cont .rolling-wrap{margin-top: 10rem; overflow: hidden; padding: 1rem 0;}
.review-cont .rolling-wrap .roll-01 ul{display: flex; margin-bottom: 4rem;}
.review-cont .rolling-wrap .roll-02 ul{display: flex;}
.review-cont .rolling-wrap ul li{flex-shrink: 0; padding-left: 3rem; display: flex; flex-wrap: wrap; align-items: center; width: 47.7rem; height: 15.6rem; box-shadow: 0px 0px 10px 1px #0054D340; border-radius: 20px; margin-right: 4rem;}
.review-cont .rolling-wrap ul li p{text-align: left; font-size: 1.8rem; color: #1a1a1a; line-height: 3rem; margin:0 0 2rem 3rem;}
.review-cont .rolling-wrap ul li span{font-size: 1.6rem; color: #0054D3; font-weight: 600; margin-left: 3rem;}
/*pro-cont*/
.pro-cont{padding: 19.2rem 29.2rem;}
.pro-cont .notice-wrap{display: flex; justify-content:space-between; margin-top: -5rem;}
.pro-cont .notice-wrap ul{position: relative;}
.pro-cont .notice-wrap ul li{font-size: 2rem; padding: 2.6rem 0; width: 59rem; text-align: center; border-radius: 1rem; margin-bottom: 1rem;}
.pro-cont .notice-wrap ul li:last-child{margin-bottom: 0;}
.pro-cont .notice-wrap .left li{background-color: #f2f2f2;}
.pro-cont .notice-wrap .right li{background-color: #3A4149; color: #fff;}
.pro-cont .notice-wrap .left img{margin-right: 30rem;}
.pro-cont .notice-wrap .right img{margin-left: 30rem;}
/*sup-cont*/
.sup-cont{padding: 18rem 0 0 0; background-color: #3A4149;}
.sup-cont .box-wrap{margin-top: 9.4rem;}
.sup-cont .box-wrap ul{display: flex; justify-content: space-between; text-align: center; padding-bottom: 27rem;}
.sup-cont .box-wrap ul p{font-size: 2.8rem; margin: 5.6rem 0 4rem; font-weight: 600;}
.sup-cont .box-wrap ul span{font-size: 1.8rem; line-height: 2.8rem;}
.sup-cont .promotion{background: url(../images/sup-bg2.png) no-repeat bottom center; position: relative; padding: 12rem 0 13rem; background-color: #0054D3; text-align: center;}
.sup-cont .promotion .bg-icon{position: absolute; top: -3rem; left: 17%;}
.sup-cont .promotion .btn-main{margin: auto; display: inline-block; margin-top: 7rem; z-index: 9;}
.sup-cont .promotion .btn-main a{background-color: #000; border-radius: 0.8rem; padding: 1.7rem 3.2rem;display: block; font-size: 1.8rem; text-align: center; transition: all 0.4s;}
.sup-cont .promotion .btn-main a:hover{color: #0054D3; background-color: #fff; transition: all 0.4s;}
/*faq-cont*/
.faq-cont{padding: 22rem 0 18rem 0; background-color: #000; border-bottom: 1px solid #9DA0A4;}
.faq-cont .faq-wrap{text-align: left;}
.faq-cont .faq-wrap details{font-size: 2.4rem; line-height: 10rem; transition: all;}
.faq-cont .faq-wrap details summary{position: relative; border-top: 1px solid #fff; cursor: pointer;}
.faq-cont .faq-wrap details[open] summary::after{content: '-'; font-size: 6rem;}
.faq-cont .faq-wrap details summary::after{position: absolute; right: 0; top: 50%; transform: translateY(-50%); font-size: 5rem; font-weight: 100; content: '+'; box-sizing: border-box;}
.faq-cont .faq-wrap details p{font-size: 1.8rem; padding: 4rem; border-radius: 2rem; line-height: 4rem; background-color: #2C2E2F; margin: 2rem 0;}
.faq-cont .faq-wrap details:last-child{border-bottom: 1px solid #fff;}
details[open] summary ~ * {animation: open 0.5s ease-in-out;}
details[close] summary ~ * {animation: close 0.5s ease-in-out;}
@keyframes open {
0% {opacity: 0; margin-left: -20px;}
100% {opacity: 1; margin-left: 0px;}
}
@keyframes close {
0% {opacity: 1; margin-left: 0px}
100% {opacity: 0; margin-left: -20px;}
}
.faq-cont .btn-faq{margin: 3rem auto 0; width: 25.4rem; border: 1px solid #9DA0A4; border-radius: 8px;}
.faq-cont .btn-faq a{display: block; text-align: cetner; padding: 2.2rem 0; font-size: 2rem; color: #fff;}

