@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://webfontworld.github.io/SCoreDream/SCoreDream.css');
/*리셋 CSS*/
html,
body,
p,
div,
select,
ul,
dl,
ol,
dd,
li,
table,
tr,
th,
td,
h1,
h2,
h3,
h4,
form,
fieldset,
legend,
table,
tr,
td,
th,
caption,
address,
blockquote {
    margin: 0;
    padding: 0;
    word-break: keep-all;
}
html,
body {
    font-size: 10px;
}
address,
em {
    font-style: normal;
}
fieldset,
img {
    border: 0 none;
}
h1,
h2,
h3,
h4,
h5 {
    font-size: 1em;
    line-height: 1;
    margin: 0;
    padding: 0;
}
legend,
caption,
hr {
    display: none;
    width: 0;
    height: 0;
    font-size: 0;
}
input {
    padding: 0;
    margin: 0;
    border: 0px;
    vertical-align: middle;
}
dl,
dt,
dd,
ul,
ol,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
    display: block;
}
article,
section {
    display: block;
    margin: 0;
    padding: 0;
}
img {
    vertical-align: top;
}
table {
    border-spacing: 0px;
    border: 0px;
    border-collapse: collapse;
}
address,
hr {
    display: none;
}
form {
    display: inline;
}
fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif, sans-serif;
    font-weight: 400;
    color: #000;
    line-height: 1;
    width: 100%;
    height: 100%;
    word-break: break-all;
    color: #2f3d49;
}
input {
    font-family: 'Noto Sans KR', '돋움', 'dotum', sans-serif;
}
option {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
}
textarea {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
}
a,
a:hover,
a:visited,
a:active,
a:link
a:not(.link_st) {
    text-decoration: none;
    color: #000;
    outline: none;
}
html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
}
input[type='text']::-ms-clear {
    display: none;
}
input[type='password']::-ms-clear {
    display: none;
}
input[type='tel']::-ms-clear {
    display: none;
}
button {
    outline: none;
    border: none;
    cursor: pointer;
    text-indent: -99999px;
}
html,
body {
    font-size: 10px;
    background: #f9f9f9;
    width: 100%;
    height: 100%;
}

/*common*/
* {
    box-sizing: border-box;
}
.cl_f {
    color: #fff;
}
.cl_b {
    color: #333;
}
.pt_80 {
    padding-top: 80px;
}
.pt_60 {
    padding-top: 60px;
}
.pt_50 {
    padding-top: 50px;
}
.pb_60 {
    padding-bottom: 60px;
}
.pb_50 {
    padding-bottom: 50px;
}
.section_inner {
    max-width: 1200px;
    margin: auto;
}

/*sub_common*/
.sub_contents {
    position: relative;
    font-size: 1.8rem;
    color: #333;
    line-height: 1.2;
    padding-bottom: 100px;
}
.sub_inner {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}
.event_wrap{
    padding: 30px 20px;
    background-color: #f6f6f6;
}
.contents_tit{font-size: 18px; margin-top: 90px;}
.sub_img {
    margin-top: 24px;
}
.sub_img img{display: block; width: 100%;}
.w_img {
    max-width: 1920px;
    margin: auto;
}
.s_img {
    max-width: 800px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 40px;
}
.img_txt {
    margin-top: 1.5%;
    font-size: 1.4rem;
    color: #666;
    line-height: 1.5;
}
.img_txt_top {
    margin-bottom: 1.5%;
    font-size: 1.4rem;
    color: #666;
    line-height: 1.5;
    margin-top: 30px;
}
.sub_title {
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 1.5;
    word-break: keep-all;
    padding-bottom: 25px;
    border-bottom: 1px solid #ccc;
}
.sub_title2 {
    font-size: 4.2rem;
    font-weight: 400;
    line-height: 1.5;
    word-break: keep-all;
    padding-bottom: 25px;
    border-bottom: 1px solid #ccc;
}
.center_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.half_wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 40px;
}
.half_wrap.mt24{
    margin-top: 24px;
}
.half_wrap.mt0{margin-top: 0;}

.img_half_wrap {
    width: 48%;
    margin-top: 10px;
}
.img_half_wrap img{display: block; width: 100%;}
.txt_half_wrap {
    width: 48%;
    font-size: 18px;
    color: #333;
    word-break: keep-all;
    line-height: 1.8;
}
.img_half_wrap2 {
    width: 36%;
    margin-top: 10px;
}
.txt_half_wrap2 {
    width: 60%;
    font-size: 2rem;
    line-height: 1.6;
    color: #333;
}
.word_wrap {
    margin-top: 30px;
}
.word_wrap_w {
    margin-top: 90px;
}
.word_wrap_s{
    margin-top: 60px;
}
.sub_word_s {
    font-size: 1.8rem;
    margin-top: 10px;
    color: #333;
    word-break: keep-all;
    line-height: 1.6;
}
.sub_word {
    font-size: 18px;
    margin-top: 20px;
    color: #333;
    word-break: keep-all;
    line-height: 1.6;
}

.sub_word_h {
    font-size: 2rem;
    color: #333;
    word-break: keep-all;
    line-height: 1.6;
}
.sub_word_b {
    font-weight: bold;
    font-size: 2.2rem;
    color: #333;
    word-break: keep-all;
    line-height: 1.6;
}
.sub_word_wide {
    font-size: 18px;
    margin-top: 40px;
    color: #333;
    word-break: keep-all;
    line-height: 1.6;
}
.sub_tit {
    font-size: 24px;
    margin-top: 30px;
    color: #333;
    word-break: keep-all;
    line-height: 1.5;
    font-weight: bolder;
}
.sub_tit2 {
    font-size: 20px;
    margin-top: 10px;
    color: #333;
    word-break: keep-all;
    line-height: 1.5;
    font-weight: bolder;
}
.sub_word_name {
    font-size: 1.8rem;
    line-height: 2;
}
.sub_btn {
    width: 100%;
    margin: auto;
}
.sub_btn a {
    width: 100%;
    padding: 2.4rem 0;
    text-align: center;
    display: block;
    font-size: 1.8rem;
    color: #074396;
    background-color: #fff;
    border: 2px solid #074396;
    margin: 100px 0 80px;
    transition: 0.3s all;
}
.blog_btn a {
    width: 100%;
    padding: 22px 0;
    text-align: center;
    display: block;
    font-size: 20px;
    color: #fff;
    background-color: #003d92;
    border-radius: 10px;
    margin: 80px 0 0;
    transition: 0.3s background-color;
}
.blog_btn a:hover {
    background-color: #fff;
    border: 2px solid #003d92;
    color: #003d92;
    transition: 0.3s background-color;
    padding: 20px 0;
}
.video_box{width: 80%; margin: auto; padding-top: 20px;}

.btn_st1 {
    width: 400px;
    height: 100px;
}
.f_white {
    color: #fff;
}
.f_blue{
    color: #003d92;
    font-weight: 700;
}
.f_bold{
    font-weight: 800;
}
.btn_group {
    text-align: center;
    padding-bottom: 140px;
}
.btn_group a {
    display: inline-block;
    text-align: center;
    line-height: 100px;
    font-size: 2.4rem;
    color: #fff;
    font-weight: 600;
}
.link_st{display: block; color: #003d92; line-height: 1.5; margin-top: 10px;}
/*card*/
.card_form{width: 100%; border-radius: 20px 20px 0 0 ; overflow: hidden;}
.card_b{background-color: #eff3f9; border: 1px solid #003d92;}
.card_o{background-color: #f5ead6;}
.card_inner{width: 100%; padding: 50px;}
.card_form .card_title{display: flex; align-items: center;}
.card_form .card_title .profile_img{width: 158px; height: 158px; border-radius: 50%; overflow: hidden; margin-right: 30px;}
.card_form .card_title .profile_img img{height: 100%; display: block;}
.card_form .card_title .title h2{font-size: 30px; color: #003d92; line-height: 1.4; padding-bottom: 20px;}
.card_form .cont_q{padding: 30px 50px; font-size: 20px;}
.card_form .cont_a{padding: 40px 50px; background-color: #fff; border: 1px solid #f1a41f; line-height: 1.5;}
.card_form .point{font-size: 26px;}


.pt_10 {
    padding-top: 10px;
}
.pt_20 {
    padding-top: 20px;
}
.pt_30 {
    padding-top: 30px;
}
.pt_50 {
    padding-top: 50px;
}
.pt_80 {
    padding-top: 80px;
}
.pt_70 {
    padding-top: 70px;
}
.pt_90 {
    padding-top: 90px;
}
.pb_20 {
    padding-bottom: 20px;
}
.mt_20 {
    margin-top: 20px;
}
.mt_70 {
    margin-top: 70px;
}
.mb_20 {
    margin-bottom: 20px !important;
}
.mb_70 {
    margin-bottom: 70px;
}
.ml_40 {
    margin-left: 40px;
}
.mr_40 {
    margin-right: 40px;
}
.float_none {
    float: none !important;
    width: 100% !important;
}
.shadow_text {
    text-shadow: gray 4px 0 15px;
}
.c_black {
    color: #000;
}
.bg_gray {
    background: #ececec;
    width: 1920px;
    margin: auto;
}
.bg_gray .wrap_inner {
    width: 1200px;
    margin: auto;
}

/*gnb*/
.gnb_wrap {
    width: 1000px;
    height: 80px;
    margin: auto;
    z-index: 99;
    font-family: 'Noto Sans KR', sans-serif, sans-serif;
}
.gnb_wrap.fixed {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 1px 0px 17px -2px #666;
}
.gnb_wrap.fixed .gnb {
    margin-top: 0;
}
.gnb {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -4%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: all 0.3s;
}
.gnb:hover {
    background-color: #003d92;
    transition: all 0.3s;
}
.gnb:hover .menu a {
    color: #fff;
    transition: all 0.3s;
}
.gnb .menu {
    width: 250px;
}
.gnb .menu .line::after {
    color: #fff;
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 30px;
    border-right: 1px solid #ccc;
}
.gnb .menu:last-child:after {
    border-right: none;
}
.gnb .menu:hover .sub_menu {
    display: block;
}
.gnb .menu a {
    position: relative;
    display: block;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    padding: 29px 0;
    transition: all 0.3s;
    width: 100%;
    height: 100%;
}
.gnb .menu .sub_menu {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 1000px;
    background-color: #003d92;
}
.gnb .menu .sub_menu .sub {
    width: 250px;
}
.gnb .menu .sub_menu .sub_menu_inner {
    display: flex;
}
.gnb .menu .sub_menu .sub li {
    position: relative;
}
.gnb .menu .sub_menu .sub li a {
    font-size: 18px;
    font-weight: 300;
    text-align: center;

    color: #fff;
    transition: all 0.3s;
}
.gnb .menu .sub_menu .sub li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: all 0.3s;
}
/*mo_gnb*/
.mo_gnb_wrap {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    white-space: nowrap;
    font-family: 'Noto Sans KR', sans-serif, sans-serif;
}
.mo_gnb_wrap a {
    display: block;
    width: 100%;
    height: 100%;
}
.mo_gnb_wrap .btn_mo_menu {
    padding: 16px 0 16px 20px;
}
.mo_gnb_wrap .btn_mo_menu .bar {
    width: 30px;
    margin: 10px 0;
    height: 2px;
    background-color: #fff;
    transition: 0.4s;
}
.mo_gnb_wrap .btn_mo_menu.change .bar1 {
    -webkit-transform: rotate(-46deg) translate(-10px, 8px);
    transform: rotate(-46deg) translate(-10px, 8px);
}
.mo_gnb_wrap .btn_mo_menu.change .bar2 {
    opacity: 0;
}
.mo_gnb_wrap .btn_mo_menu.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-9px, -7px);
    transform: rotate(45deg) translate(-9px, -7px);
}
.mo_gnb_wrap .mo_gnb {
    background-color: #fff;
    position: absolute;
    top: 79px;
    right: -300px;
    z-index: 99;
    transition: all 0.5s;
}
.mo_gnb_wrap .mo_gnb.on {
    right: 0;
    transition: all 0.5s;
}
.mo_gnb_wrap .mo_gnb .mo_menu a {
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    text-align: right;
    padding: 0 40px;
}
.mo_gnb_wrap .mo_gnb .mo_menu ul {
    background-color: #f4f4f4;
}
.mo_gnb_wrap .mo_gnb .mo_menu ul li a {
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
}
/*footer*/
.footer_icon {
    background-color: #f1f1f1;
}
.footer_icon .footer_inner {
    max-width: 1200px;
    margin: auto;
}
.footer_icon .footer_inner .icon_wrap {
    display: block;
}
.footer_icon .footer_inner .icon_wrap .icon {
    display: inline-block;
    width: calc(20% - 40px);
    margin: 0 0 0 47px;
}
.footer_icon .footer_inner .icon_wrap .icon a {
    display: block;
    width: 100%;
    height: 100%;
}
.footer_icon .footer_inner .icon_wrap .icon img {
    display: block;
    width: 100%;
}
.footer_icon .footer_inner .icon_wrap .icon:first-child {
    margin: 0;
}

.footer {
    padding: 70px 0;
}
.footer .section_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer .section_inner .logo2 {
    margin-right: 20px;
}
.footer .section_inner .footer_center_wrap {
    font-size: 2rem;
    margin-right: 15%;
}
.footer .section_inner .footer_center_wrap p {
    color: #333;
    line-height: 1.8;
}
.footer .section_inner .footer_right_wrap .sns_icon_wrap {
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
}
.footer .section_inner .footer_right_wrap .sns_icon_wrap div {
    margin-left: 10px;
}
.footer .section_inner .footer_right_wrap select {
    padding: 5px 15px 5px 5px;
    text-align: left;
    color: #666;
    border: 1px solid #666;
    outline: none;
    overflow: scroll;
}
.footer .copyright {
    text-align: center;
    margin-top: 30px;
}

@media (max-width: 930px){
    .half_wrap{flex-direction: column; margin-top: 0;}
    .half_wrap.rev{flex-direction: column-reverse; margin-top: 0;}
    .img_half_wrap{width: 100%; margin-top: 20px;}
    .txt_half_wrap{width: 100%; margin-top: 20px;}
    .img_half_wrap2{width: 100%;}
    .txt_half_wrap2{width: 100%; margin-top: 20px;}
    .sub_word_b{font-weight: bold; font-size: 2.5rem;}
    .half_wrap.column{flex-direction: column-reverse;}
    /*card*/
    .card_inner{padding: 30px;}
    .card_form .card_title{flex-direction: column;}
    .card_form .card_title .profile_img{margin-bottom: 20px;}
    .card_form .card_title .profile_img img{height: 100%; display: block;}
    .card_form .card_title .title {text-align: center;}
    .card_form .card_title .title h2{font-size: 26px;}
    .card_form .cont_q{line-height: 1.5; padding: 30px;}
    .card_form .cont_a{padding: 30px}
    .card_form .point{font-size: 24px;}

}
@media (max-width: 767px){
   .contents_tit{font-size: 16px; margin-top: 44px;}
   .sub_img{margin-top: 20px;}
   .img_txt{font-size: 12px;}
   .word_wrap{margin-top: 20px;}
   .word_wrap_w{margin-top: 40px;}
   .sub_word_s{font-size: 14px; margin-top: 10px;}
   .txt_half_wrap{font-size: 16px; margin-top: 20px;}
   .sub_word{font-size: 16px; margin-top: 20px;}
   .sub_word_wide{font-size: 16px; margin-top: 30px;}
   .sub_word_h{font-size: 16px;}
   .sub_tit{font-size: 20px; margin-top: 20px;}
   .sub_word_name{font-size: 16px;} 
   .sub_word_b{font-weight: bold;font-size: 20px;}
}